.AboutComponent {
	padding-bottom: 20px;
}

.about-img {
	height: 550px;
}

/* Resume */
.resume-box ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.resume-box li {
	position: relative;
	padding: 0 20px 0 60px;
	margin: 0 0 50px;
}

.resume-box li:after {
	content: '';
	position: absolute;
	top: 0;
	left: 20px;
	bottom: 0;
	border-left: 1px solid #333;
}

.resume-box .icon {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 0;
	right: 0;
	line-height: 40px;
	text-align: center;
	z-index: 1;
	border-radius: 50%;
	color: #fff;
	background-color: #007ced;
}

.resume-box .time {
	color: #fff;
	font-size: 12px;
	padding: 1px 10px;
	display: inline-block;
	margin-bottom: 12px;
	border-radius: 20px;
	font-weight: 600;
	background-color: #383838;
	opacity: 0.8;
}

.resume-box h5 {
	font-size: 18px;
	margin: 7px 0 10px;
}

.resume-box p {
	margin: 0;
	color: #eee;
	font-size: 14px;
}

.resume-box .place {
	opacity: 0.8;
	font-weight: 600;
	font-size: 15px;
	position: relative;
	padding-left: 26px;
}

.resume-box .place:before {
	position: absolute;
	content: '';
	width: 10px;
	height: 2px;
	background-color: #fff;
	left: 7px;
	top: 9px;
	opacity: 0.8;
}
