.home-title {
	font-size: 68px;
	font-weight: 600;
}

.homeRow1 {
	height: 82vh;
}

.home-text {
	margin-top: 135px;
	margin-left: -50px;
}

.home-text p {
	font-size: 16px;
	line-height: 28px;
}

.home-video {
	margin-top: 135px;
}

.btn-about {
	color: #e5e5e5;
	border: 2px solid #007ced;
}

.btn-about:hover {
	background-color: #007ced;
	color: #e5e5e5;
}

.home-img {
	height: 400px;
	width: 95%;
	border-radius: 20px;
	border: none;
}

.testimonial-item {
	padding: 30px;
	margin-bottom: 10px;
}

.testimonial-content {
	position: relative;
	padding: 30px 20px 20px 60px;
	background-color: #282828;
	border-radius: 8px;
	border: 2px solid #444;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.testimonial-picture {
	position: absolute;
	display: block;
	top: -30px;
	left: -30px;
	width: 80px;
	height: 80px;
}

.testimonial-picture img {
	display: inline-block;
	border-radius: 80px;
	border-color: #444;
}

.testimonial-text p {
	font-style: italic;
}

.testimonial-author-info {
	margin-top: 15px;
}

.testimonial-author {
	margin: 0 0 2px;
	font-size: 0.9em;
	color: #e5e5e5;
}

.testimonial-firm {
	margin: 0;
	font-size: 0.8em;
	color: #bbb;
}

.testimonial-icon {
	display: block;
	line-height: 20px;
	font-size: 20px;
	position: absolute;
	left: 20px;
	bottom: 46px;
	color: #454545;
}

.testimonial-icon-big {
	display: block;
	line-height: 44px;
	font-size: 44px;
	position: absolute;
	right: -24px;
	bottom: -24px;
	color: #353535;
	z-index: -1;
}

@media (max-width: 576px) {
	.homeRow1 {
		height: auto;
	}

	.home-title {
		font-size: 56px;
	}

	.home-text {
		margin-top: 0;
		margin-left: 0;
	}

	.home-video {
		margin-top: 0;
	}
}
